<!DOCTYPE html>
<html style="height: 100%">
<head >
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script crossorigin src="https://unpkg.com/react@15/dist/react.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

</head>
<body style="height: 100%">
    <div id="root" style="height: 100%">
    </div>
    <script type="text/javascript" src="~/source/bundle.js"></script>
</body>
</html>
